@tailwind base;
@tailwind components;
@tailwind utilities;

.box-bg {
  display: flex;
  position: absolute;
  width: 90vw;
  height: 4rem;
  opacity: 0.9;
  z-index: 99;
  mix-blend-mode: multiply;
}
.box-bg-2 {
  display: flex;
  position: absolute;
  height: 4rem;
  z-index: 99;
  mix-blend-mode: multiply;
}

.mushroom {
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
  position: relative;
  bottom: 65px;
}

.mushroom-clicked {
  bottom: 125px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.mushroom-move {
  bottom: 65px;
  position: relative;
  transform: translateX(-1725px);
  transition: transform 6s ease-in-out, bottom 0.75s ease-in 0.6s;
}

.vine {
  transition: all 1.5s ease-in-out;
  transform: translateX(25px);
  height: 50px;
  position: relative;
}

.vine-clicked {
  transition: all 1.5s ease-in-out;
  transform: translateX(0px);
  position: relative;
  height: 350px;
  z-index: 40;
}

.left-hover{
  border-bottom-right-radius: 100px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.right-hover{
  border-bottom-left-radius: 100px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}