@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.7;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgb(192, 224, 35) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(199, 100, 42) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(13, 193, 199) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(108, 209, 14) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.06;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col  mx-auto sm:px-16 px-6;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border: solid black 1px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.407);
  outline: 1px solid slategrey;
  border-radius: 1000px;
}

body {
  overflow-x: hidden;
}

.box-bg {
  display: flex;
  position: absolute;
  width: 90vw;
  height: 4rem;
  opacity: 0.9;
  z-index: 99;
  mix-blend-mode: multiply;
}
.box-bg-2 {
  display: flex;
  position: absolute;
  height: 4rem;
  z-index: 99;
  mix-blend-mode: multiply;
}

.mushroom {
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
  position: relative;
  bottom: 65px;
}

.mushroom-clicked {
  bottom: 125px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.mushroom-move {
  bottom: 65px;
  position: relative;
  transform: translateX(-90vw);
  transition: transform 6s ease-in-out, bottom 0.75s ease-in 0.6s;
}

.vine {
  transition: all 1.5s ease-in-out;
  transform: translateX(25px);
  height: 50px;
  position: relative;
}

.vine-clicked {
  transition: all 1.5s ease-in-out;
  transform: translateX(0px);
  position: relative;
  height: 350px;
  z-index: 40;
}

.left-hover {
  border-bottom-right-radius: 100px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.right-hover {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
